<h4>Thank you for taking a look at my code.</h4>
<p>I appreciated the challenge and did my best to satisfy the requirements.</p>
<h4>Features</h4>
<p>I was able to implement the following features:</p>
<ul>
  <li>Generate a list of calendars weekdays in green, weekends in yellow, selected days in orange, and holidays in purple.</li>
  <li>
    Selected days spill over into the next month or next year.
  </li>
  <li>Days before and after on the calendar that do not belong to the given month are in grey.</li>
  <li>
    Hover over the days and you can see the name of the holiday if it applies.  If not, you can still see the exact day.
  </li>
  <li>
    Though it was not explicitly stated in the guidelines, I assumed Country Code was for getting the holidays for a specific country.  You can see holidays from many different countries.
  </li>
</ul>
<h4>Bugs</h4>
<p>There were several bugs that I was not able to address along the way.</p>
<ul>
  <li>
    Country codes JA and CN (Japan and China) cause the Holiday plugin I was using to crash.  Tested: FR, CA, CU, US.
  </li>
  <li>
    There appears to be a deprecated component to the library.  In production, I would perhaps use a paid API.
  </li>
</ul>
<h4>Would've, Could've, Should've</h4>
<p>Things I would have liked to add:</p>
<ul>
  <li>
    Cleaner interface with transitions for the calendars on load.
  </li>
  <li>
    Refactoring algorithm to generate calendars.  There are some silly patches I applied to code that could stand to be polished.
  </li>
  <li>
    Error handling.
  </li>
  <li>
    Two-way data-binding for the calendars so that the rendered calendars updated dynamically as the values in the forms changed.
  </li>
  <li>
    Stronger validation for the form.
  </li>
</ul>
<h4>Thank you again.  I would appreciate feedback if you have any at:</h4>
<a href="mailto:rgiorda1@gmail.com?Subject=Feedback">rgiorda1@gmail.com</a>