<div *ngIf="data!=undefined" >
    <div class="title">
      <h3>Spanning {{data.numberOfDays}} day(s)</h3>
    </div>
    <div class="row" >
       
      <div class="col-md-4 cel" *ngFor="let month of calendar">
        <div class="calendar">
            {{month.name}} {{month.year}}
          <table class="table">
            <tr>
              <th>
                S
              </th>
              <th>
                M
              </th>
              <th>
                T
              </th>
              <th>
                W
              </th>
              <th>
                TH
              </th>
              <th>
                F
              </th>
              <th>
                S
              </th>
            </tr>
            <tr *ngFor="let week of month.weeks">
                <td *ngFor="let day of week.days"[title]="day.holidayName || day.date" [class.holiday]="day.holiday"[class.invalid]="day.invalid"[class.weekday]="!day.weekend && !day.invalid"[class.weekend]="day.weekend"  [class.selected]="day.isSelected">{{day.dateNumber}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
</div>
