.calendar{
    background:#ededed;
    height:100%;
    width:100%;
    padding:5px;
    
    
}
.cel{
    margin:10px 0;
}
.weekend{
    background-color:#ffff80;
}
.weekday{
    background-color:#31db64;
}
.selected{
    background-color:#ffac84;
}
.invalid{
    background-color:#bfbfbf;
}
.holiday{
    background-color:rgb(212, 106, 212);
}
td{
    border:2px solid white;;
    transition:all .5s ease;

}
td:hover{
    transition:all .2s ease;
    opacity:.5;
}
.title{
    width:100%;
    text-align:center;
    margin:10px;
}